.menu {
    grid-area: item1;
    background-color: rgba(93, 91, 97, 0.959);
    margin: none;
    float: left;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    text-align: end;
    z-index: 100;
    padding: 1vw 0vw;
}
.header {
    grid-area: item2;
    background-color: #557A95;
    height: 400px;
}
.main {
    grid-area: item3;
    background-color: #7395ae;
    
    margin-top: 2vw;
    width: 100%;
    vertical-align: middle;
}
.footer {
    grid-area: item4;
}

footer {
    background-color: rgba(93, 91, 97);
    color: white;
    width: 100%;

}

.grid-container {
    display: grid;
    grid-template-areas:
            'item1 item1 item1 item1 item1 item1'
            'item2 item2 item2 item2 item2 item2'
            'item3 item3 item3 item3 item3 item3'
            'item4 item4 item4 item4 item4 item4';
    grid-gap: 0px;
    background-color: #7395ae;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

.grid-container > div {
    color: white;
    font-family: verdana;
    
}


@media screen and (max-width: 992px){
    .grid-container{
        grid-template-areas:
            'item1'
            'item2'
            'item3'
            'item4';
    }
}


.menu a {
    color: white;
    background-color: rgba(93, 91, 97, 0);
    font-size: 24px; 
    padding: 1vw 2vw;
    text-decoration: none;
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

      position: relative;
  }
  
  .menu a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0.5;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .menu a:hover:after { 
    width: 100%; 
    left: 0; 
  }

body {
  font-family: Helvetica, sans-serif;
  padding:0;
  margin:0;
  text-align: center;
  background-color: rgba(93, 91, 97);

}

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 350px;
  margin: auto;
  top: 30px;

}

/* Caption text */
.text {
  color: white;
  font-size: 20px;
  width: 100%;
  position: absolute;
  bottom: 250px;
  text-align: center;
  z-index: 100;
  text-transform: uppercase;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
  position: absoulte;
  top: 0px;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 0s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slideimg {
  object-fit: cover;

  width: 100%;
  height: 350px;
}


/*article design*/

  .article1{
      padding: 2.5vw 5vw; 
      float: left;
      margin: 2%;
      width: 46%;
      border: solid;
      border-width: 1px;
      border-color: #5D5B61;
      color: white;
      text-transform: uppercase;
      font-size: 100%;
  }
  .article2{
    padding: 2.5vw 5vw; 
    margin: 2%;
    float: right;
    width: 46%;
    border: solid;
    border-width: 1px;
    border-color: #5D5B61;
    color: white;
    text-transform: uppercase;
    font-size: 100%;
}

  .article1 img{
      border: solid; 
      border-color: white;
      width: 90%;
      background-color: #7395ae;
  }
  .article2 img{
    border: solid; 
    border-color: white;
    width: 90%;
    background-color: #7395ae;
}

  /*registration design*/
#reg{
    text-transform: uppercase;
    margin: 2vw 5vw 5vw 5vw;
    margin-top: 7%;
}

  #reg input{
    width: 40vw;
  }

  #reg #button{
    background-color: rgba(93, 91, 97);
    border: none;
    padding: 1vw 2vw;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;

  }

  #form-article{
      width: 40vw;
      height: 90px;
  }

  /*Footer design*/
  footer p{
      float: left;
      line-height: 30px;
  }

  footer img{
      width: 60px;
      float: right;
      padding: 50px 1vw;
  }

  .slidebilde {
      margin-top: 79px;
      width: 100%;
      height: auto;
  }


  .menu a {
    color: white;
    background-color: rgba(93, 91, 97, 0);
    font-size: 24px; 
    padding: 1vw 2vw;
    text-decoration: none;
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

      position: relative;
  }
  
 /*dropdown*/
.dropdown {
    float: right;
    overflow: hidden;
    text-transform: uppercase;
  }
  
  .dropdown .dropbtn {
    font-size: 24px;  
    border: none;
    outline: none;
    color: inherit;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
    padding: 1vw 2vw;
  }
  
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    float: right;
    background-color: rgba(93, 91, 97, 0.959);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(93, 91, 97, 0.959);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

